<header>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item text-info" href="#">
        RoomateOragnizer
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

  
    

    <div class="navbar-menu">
      <div class="navbar-start">
        <!-- navbar items -->
        <a class="navbar-item text-info" href='/'>
          Home
        </a>
        <!-- if user is signed in -->
        {{#if user}}
        <a class="navbar-item text-info" href='/chores'>
          Chores
        </a>
        <a class="navbar-item text-info" href='/bills'>
          Bills
        </a>
        {{/if}}
      </div>

      <div class="navbar-end">
        <!-- navbar items -->
        {{#if user}}
        <a class="navbar-item text-info" href='/account/logout'>
          Log Out
        </a>
        {{else}}
        <a class="navbar-item text-info" href='/account/login'>
          Log In
        </a>
        {{/if}}

      </div>
    </div>
  </nav>

</header>