<section class="section">
  <div>
    <div class="container"></div>
    <h1 class="title has-text-centered has-text-white	">
      Roomate bot
    </h1>

    <p class="subtitle has-text-centered is-6 has-text-white	">
      Keep track of your disorganized roomates
    </p>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column">
        <br>
        <h1 style="color:white; text-align:center" class="title">All Bills</h1>
        <div class="chore1">
          <div id="allbills1" class="columns is-multiline">
          </div>
        </div>
      </div>
      <div class="column">
        <br>
        <h1 style="color:white; text-align:center" class="title">All Chores</h1>
        <div class="chore2">
          <div id="allchores1" class="columns is-multiline">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>