<section class="section">
  <div>
    <div class="container"></div>
      <h1 class="title has-text-centered has-text-white	">
        Roomate bot
      </h1>

      <p class="subtitle has-text-centered is-6 has-text-white	">
        Keep track of your disorganized roomates
      </p>
    </div>
  </div>
</section>