.center {
  text-align: center
}

header {

  color:white
}

footer {
  color:white
}


body {
  background-image: url(penn.jpg);
}

.navbar {
    background-color: rgb(0,0,0,0.3);
    background-image: none;
}